
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
  
}
.background{
  background-image: url('./images/grass.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 4px 16px -5px rgb(0 0 0 / 49%);
  
  
}
.links ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
}
.links li{
  margin: 0 20px;
  position: relative;
}
.links p{
  font-family: cursive;
  font-size: 17px;
  font-weight: 600;
  color: rgb(11, 143, 11);
  padding: 0 5px;
  border-radius: 4px;
}
.links p:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: darkgreen;
  color: rgb(9, 9, 54);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.links p:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.sign-btn{
  padding: 10px 15px;
  background-color: darkgreen;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.sign-btn:hover{
  transform: scale(1.1);
  background-color: #f7f3f3;
  color: darkgreen;
}
.switch{
  background-color: none;
  color: #207697;
  cursor: pointer;
  border: none;
  font-size: 14px;
  transition: 0.1s;
}
.switch:hover{
  color: #c44a3a;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign{
  color: darkGray;
  font-size: 23px;
  font-weight: 500;
}
.form input{
  width: 270px;
}
.submit{
  background-color:#348C31;
  color: white;
  border: none;
  width: 100%;
  padding: 7px 0;
  border-radius: 10px;
  font-size: 19px;
  
}
.table{
  text-align: center;
  margin: 50px 0; 
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
}
.table th{
  font-weight: 500;
}
.table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 13px; 
}

tr:nth-child(even) {
  background-color: #348C31;
  color: white;
}

.main-frame{
  width: 100%;
  height: 560px;
  background-image: url('./images/cricket.jpg');
  animation: slider 10s infinite linear;
  object-fit: cover;
  background-size: 100% 100%;
  opacity: 0.9;
  position: relative;
}

@keyframes slider{
  0%{ background-image: url('./images/football.webp');}
  45%{ background-image: url('./images/ball.jfif');}
  80%{ background-image: url('./images/players.jfif');}
}

.banner-fade{
  height: 3rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), white);
}

.export-btn{
  transition: 0.3s;
  border: none;
  background-color: #dddddd;
}
.export-btn:hover{
  box-shadow: 1px 5px 5px gray;
  background-color: #3e8e41;
  color: white;
  border: none;
}

/* -------------------- reviews -------------------*/

.testimonials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  width: 100vw;
}

.h1{
  font-family: "Roboto", Sans-serif;
  font-size: 3.5rem;
  color: #348C31;
}

.hidden{
  content: '';
  width: 300px;
  height: 2px;
  background-color: gray;
  border-radius: 99px;
  opacity: 0.7;
}

.reviews{
  background-color: whitesmoke;
  object-fit: contain;
  text-align: left;
  font-family: cursive;
  width: 560px;
  height: auto;
  box-shadow: 1px 5px 5px gray;
  padding: 24px 17px;
  margin: 20px;
  transition: transform 450ms;
}
.reviews:hover{
  transform: scale(1.1);
}
.queries{
  padding: 20px 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.accordian{
  width: 500px;
}
.faq-que{
  font-size: 1.4rem;
  font-weight: 500;
  color: darkgreen;
  
}
.faq-ans{
  font-size: 1rem;
  font-weight: 600;
  color: gray;
}

.contact-form{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 7rem;
  padding: 2rem 1rem;
  border-radius: 12px;
  gap: 16px;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 7px 1px 6px rgba(0,0,0,0.23); */
  box-shadow: 2px 5px 5px gray;
  
}
.contact-form button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #3e8e41;
}

/*----- DASHBOARD ----*/

.dashboard-form input{
  color: gray;
}
.dashboard-form p{
  color: gray;
  font-weight: 500;
  line-height: 20px;
}
.filebase{
  color:'red';
  width:'100px';
}

.divider{
  content: "";
  border-right: 1px solid darkgray;
  height: 140px;
  padding: 10px 30px;
}

